
*.jpg
*.jpeg
10_food_classes_10_percent.zip
__MACOSX/._10_food_classes_10_percent
__MACOSX/._10_food_classes_all_data
__MACOSX/10_food_classes_10_percent/._test
__MACOSX/10_food_classes_10_percent/._train
__MACOSX/10_food_classes_10_percent/test/._chicken_curry
__MACOSX/10_food_classes_10_percent/test/._chicken_wings
__MACOSX/10_food_classes_10_percent/test/._fried_rice
__MACOSX/10_food_classes_10_percent/test/._grilled_salmon
__MACOSX/10_food_classes_10_percent/test/._hamburger
__MACOSX/10_food_classes_10_percent/test/._ice_cream
__MACOSX/10_food_classes_10_percent/test/._pizza
__MACOSX/10_food_classes_10_percent/test/._ramen
__MACOSX/10_food_classes_10_percent/test/._steak
__MACOSX/10_food_classes_10_percent/test/._sushi
__MACOSX/10_food_classes_10_percent/train/._chicken_curry
__MACOSX/10_food_classes_10_percent/train/._chicken_wings
__MACOSX/10_food_classes_10_percent/train/._fried_rice
__MACOSX/10_food_classes_10_percent/train/._grilled_salmon
__MACOSX/10_food_classes_10_percent/train/._hamburger
__MACOSX/10_food_classes_10_percent/train/._ice_cream
__MACOSX/10_food_classes_10_percent/train/._pizza
__MACOSX/10_food_classes_10_percent/train/._ramen
__MACOSX/10_food_classes_10_percent/train/._steak
__MACOSX/10_food_classes_10_percent/train/._sushi
__MACOSX/10_food_classes_all_data/._test
__MACOSX/10_food_classes_all_data/._train
__MACOSX/10_food_classes_all_data/test/._chicken_curry
__MACOSX/10_food_classes_all_data/test/._chicken_wings
__MACOSX/10_food_classes_all_data/test/._fried_rice
__MACOSX/10_food_classes_all_data/test/._grilled_salmon
__MACOSX/10_food_classes_all_data/test/._hamburger
__MACOSX/10_food_classes_all_data/test/._ice_cream
__MACOSX/10_food_classes_all_data/test/._pizza
__MACOSX/10_food_classes_all_data/test/._ramen
__MACOSX/10_food_classes_all_data/test/._steak
__MACOSX/10_food_classes_all_data/test/._sushi
__MACOSX/10_food_classes_all_data/train/._chicken_curry
__MACOSX/10_food_classes_all_data/train/._chicken_wings
__MACOSX/10_food_classes_all_data/train/._fried_rice
__MACOSX/10_food_classes_all_data/train/._grilled_salmon
__MACOSX/10_food_classes_all_data/train/._hamburger
__MACOSX/10_food_classes_all_data/train/._ice_cream
__MACOSX/10_food_classes_all_data/train/._pizza
__MACOSX/10_food_classes_all_data/train/._ramen
__MACOSX/10_food_classes_all_data/train/._steak
__MACOSX/10_food_classes_all_data/train/._sushi
*.zip
NLP/sample_submission.csv
NLP/test.csv
NLP/train.csv
NLP/model_6/.DS_Store
NLP/model_6/fingerprint.pb
NLP/model_6/keras_metadata.pb
NLP/model_6/model_6.h5
NLP/model_6/saved_model.pb
NLP/model_6/variables/variables.data-00000-of-00001
NLP/model_6/variables/variables.index
NLP/08_model_6_USE_feature_extractor/saved_model.pb
NLP/08_model_6_USE_feature_extractor/variables/variables.data-00000-of-00001
NLP/08_model_6_USE_feature_extractor/variables/variables.index
